<?xml version="1.0" encoding="UTF-8"?>
<launch>

    <arg name="robot_ip" default="10.0.126.36" />
    <node pkg="rosaria" 
          type="RosAria" 
          name="RosAria" 
          args="_port:=$(arg robot_ip):8101"
          output="screen">
    </node>

    <node pkg="rostopic" 
          type="rostopic" 
          name="amigo_move" 
          args="pub -r 5 /RosAria/cmd_vel geometry_msgs/Twist '[0.1, 0.0, 0.0]' '[0.0, 0.0, 0.0]'"
          output="screen">
    </node>
</launch>
