<?xml version="1.0" encoding="UTF-8"?>
<launch>

    <arg name="robot_ip_1" default="10.0.126.11" />
    <node pkg="rosaria" 
          type="RosAria" 
          name="amigobot_1" 
          args="_port:=$(arg robot_ip_1):8101"
          output="screen">
        <param name="DriftFactor" value="0"/>
        <param name="TicksMM"     value="123"/>
        <param name="RevCount"    value="11548"/>
    </node>

    <arg name="robot_ip_2" default="10.0.126.36" />
    <node pkg="rosaria"
          type="RosAria"
          name="amigobot_2"
          args="_port:=$(arg robot_ip_2):8101"
          output="screen">
        <param name="DriftFactor" value="0"/>
        <param name="TicksMM"     value="123"/>
        <param name="RevCount"    value="11548"/>
    </node>

    <node pkg="amigobot_LTL" name="amigobot_LTL" type="main.py" output="screen">
    </node>

</launch>